[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Cython= "0.29.24"
streamlit = "1.20.0"
librosa = "0.10.0"
madmom = "madmom @ git+https://git@github.com:CPJKU/madmom.git@main#egg=madmom"

[dev-packages]

[requires]
python_version = "3.9"
